@media screen and (min-width: 768px) {
    #cabeçalho {
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    #titulo {
        margin-left: 10px;
        display: flex;
        
    }
    #links {
        display: flex;
        justify-content: space-evenly;
        align-self: center;
        margin: 0px 10px 0px 0px;
        gap: 10px;
    }
    a {
        margin: 0;
    }
}
    